*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tracks_section{
    width: 200vw;
    display: flex;
    height: 100vh;
    align-items: center;
    margin-inline-start: 4rem ;
}
.img_track{
    width: 20rem;
    height: 20rem;
    position: relative;
    margin: 1rem;
    top: -5rem;

}
.fav_track{
    display: flex;
    gap: 1rem;
}
.info_section{
    position: relative;
    top: -5rem;
    padding-right: 1rem;
}
.img__track{
    border-radius: 5px;
}.first_track{
    display: flex;
    gap: .5rem;


    padding-right: 1rem;
}
.position{
    color: #fff;
    position: relative;
    top: -3.5rem;
    opacity: 50%;
}
.second_track{
    display: flex;
    gap: .5rem;
    position: relative;
    top: 10rem;
}
.img_track_all{
    width: 17rem;
    height: 17rem;
    position: relative;
}
.third_track{
    display: flex;
    gap: .5rem;
    position: relative;
    top: -7rem;
}
.fourth_track{
    display: flex;
    gap: .5rem;
    position: relative;
    top: 7rem;
}
.fifth_track{
    display: flex;
    gap: .5rem;
    position: relative;
    top: -7rem;
}
.pos{
    color: #fff;
    opacity: 50%;
}
.first_artist_all{
    position: relative;
}
.artist__info_first{
    position: absolute;
    top: 16rem;
    padding: 1rem;
}
.artist__info_first h5{
    color: #fff;
    font-size: 1.2rem;
}
.artist__info_first h6{
    color: #1DB954;
    font-size: 1rem;
    padding: .2rem 0;
}
.artist_info_first h5{
    color: #fff;
    font-size: 1.2rem;
}
.artist_info_first h6{
    color: #1DB954;
    font-size: 1rem;
}
.audio_preview{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #d7d7d7;
    z-index: 9999;
    position: absolute;
    top: 17rem;
    left: 17rem;
}